{% extends "components/base.html" %}
{% block page_title %}Inställningar{% endblock %}
{% block head %}
    {{ super() }}
    <!--<script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>-->
    <script>
        const VAPID_PUBLIC_KEY = "{{config['VAPID_PUBLIC_KEY']}}"
    </script>
    <!--<script type="module" src="https://www.gstatic.com/firebasejs/10.5.2/firebase-app.js"></script>-->
    <!--<script type="module" src="https://www.gstatic.com/firebasejs/10.5.2/firebase-messaging.js"></script>-->
    <!--<script type="module" src="{{ url_for('static', filename='settings/scripts.js') }}"></script>-->
    <!--<script type="module" src="{{ url_for('static', filename='settings/init-firebase.js') }}"></script>-->
    <style>
        button {
            width: 80px;
            height: 40px;
            font-size: 18px;
        }

        input[type="radio"] {
            width: 20px;
            height: 20px;
        }

        label {
            font-size: 18px;
        }

        select {
            width: 130px;
            height: 40px;
            font-size: 18px;
        }
        
    </style>
{% endblock %}
{% block heading %}
⚙ Inställningar
{% endblock %}
{% block content %}
    <div class="mid">
        <div class="sub-setting">
            <h2>🔔 Notiser</h2>
            <form id="notification-form">
                <label for="notifications-on">På</label>
                <input type="radio" name="notification-status" id="notifications-on" value="on">
                <label for="notifications-off">Av</label>

                <input type="radio" name="notification-status" id="notifications-off" value="off" checked>

                <br>

                <label for="person">Person</label>
                <select name="person" id="person">
                    <option value="" selected disabled>Välj person</option>
                    {% for person in persons %}
                        <option value="{{ person.person_id }}">{{ person.name }}</option>
                    {% endfor %}
                </select>

                <br>
                <br>

                <button type="submit">Spara</button>
            </form>
                <form id="notificaiton-settings">
                <h3>🕐 Påminnelse av bokning</h3>
                <input type="radio" name="reminder" id="reminder-on" value="on">
                <label for="reminder-on">På</label>
                <input type="radio" name="reminder" id="reminder-off" value="off" checked>
                <label for="reminder-off">Av</label>
                <br>
                <h3>🏠 Påminnelse av dagens salar</h3>
                <input type="radio" name="room-reminder" id="room-reminder-on" value="on">	
                <label for="room-reminder-on">På</label>
                <input type="radio" name="room-reminder" id="room-reminder-off" value="off" checked>
                <label for="room-reminder-off">Av</label>
                <br>
                <h3>🏠 Påminnelse av morgondagens salar</h3>
                <input type="radio" name="room-reminder-tomorrow" id="room-reminder-tomorrow-on" value="on">
                <label for="room-reminder-tomorrow-on">På</label>
                <input type="radio" name="room-reminder-tomorrow" id="room-reminder-tomorrow-off" value="off" checked>
                <label for="room-reminder-tomorrow-off">Av</label>
                <br>
                <br>
                <button type="submit">Spara</button>
            </form>
            
        </div>
    </div>
{% endblock %}
{% block endOfBody %}
<script type="module">
    import { callSubscribeToNotifications, callUnSubscribeToNotifications, detectNewToken, updateSettingsForToken, getNotificationSettings} from "{{ url_for('static', filename='settings/init-fcm.js') }}"
    import { queueModal } from "{{ url_for('static', filename='global/modal.js') }}"

    //Check notification status from local storage update it so if
    function checkNotificationStatus() {
        const notificationStatus = localStorage.getItem('notificationStatus');
        if (notificationStatus === 'true') {
            document.getElementById('notifications-on').checked = true;
        } else {
            document.getElementById('notifications-off').checked = true;
        }
    }

    checkNotificationStatus();

    // Check notification settings from local storage and update the radio buttons
    function checkNotificationSettings() {
        getNotificationSettings().then((settings) => {
            if (settings.reminderToBook === 'on') {
                document.getElementById('reminder-on').checked = true;
            } else {
                document.getElementById('reminder-off').checked = true;
            }
            if (settings.roomReminderToday === 'on') {
                document.getElementById('room-reminder-on').checked = true;
            } else {
                document.getElementById('room-reminder-off').checked = true;
            }
            if (settings.roomReminderTomorrow === 'on') {
                document.getElementById('room-reminder-tomorrow-on').checked = true;
            } else {
                document.getElementById('room-reminder-tomorrow-off').checked = true;
            }
        }).catch((error) => {
            if (error === 'not-subscribed') {
                queueModal('❌ Du är inte prenumererad på notiser', "error");
            } else {
                queueModal('❌ Något gick fel', "error");
            }
            resetRadioButtons();
        })
    }
    

    checkNotificationSettings();

    //Using the form subscribe to notifications if notifications-on is true and unsubscribe if notifications-off is true using requestPermission and deleteToken if and sending the person id to the backend
    const form = document.getElementById('notification-form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const notificationStatus = formData.get('notification-status');
        const person = formData.get('person');
        if (notificationStatus === 'on' && person !== null && localStorage.getItem('notificationStatus') === 'false') {
            callSubscribeToNotifications(person);
        } else if (notificationStatus === 'off' && localStorage.getItem('notificationStatus') === 'true') {
            callUnSubscribeToNotifications().then(() => {
                checkNotificationSettings();
            });
        } else if (notificationStatus === 'on' && person !== null && localStorage.getItem('notificationStatus') === 'true') {
            queueModal('ℹ Du är redan prenumererad på notiser', "info");
        } else if (notificationStatus === 'off' && localStorage.getItem('notificationStatus') === 'false') {
            queueModal('ℹ Du är redan avprenumererad på notiser', "info");
        } else if (notificationStatus === 'on' && person === null) {
            queueModal('Du måste välja en person', "error");
        } 
    });

    if (localStorage.getItem('person_id')) {
        document.getElementById('person').value = localStorage.getItem('person_id');
    }

    detectNewToken();

    const notificationForm = document.getElementById('notificaiton-settings');
    notificationForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const formData = new FormData(notificationForm);
        const reminder = formData.get('reminder');
        const roomReminder = formData.get('room-reminder');
        const roomReminderTomorrow = formData.get('room-reminder-tomorrow');
        // create a json object with the settings
        const currentSettings = {
            reminderToBook: reminder,
            roomReminderToday: roomReminder,
            roomReminderTomorrow: roomReminderTomorrow
        }

        updateSettingsForToken(currentSettings).then(() => {
            queueModal('✅ Inställningar sparade', "success");

        }).catch((error) => {
            if (error === 'not-subscribed') {
                queueModal('❌ Du är inte prenumererad på notiser', "error");
            } else {
                queueModal('❌ Något gick fel', "error");
            }
            resetRadioButtons();
        })
    });

    // Reset the radio buttons to the previous state
    function resetRadioButtons() {
        checkNotificationSettings();
    }

</script>
{% endblock %}