{% extends "components/base.html" %}
{% block page_title %}Inställningar{% endblock %}
{% block head %}
    {{ super() }}
    <!--<script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>-->
    <script>
        const VAPID_PUBLIC_KEY = "{{config['VAPID_PUBLIC_KEY']}}"
    </script>
    <!--<script type="module" src="https://www.gstatic.com/firebasejs/10.5.2/firebase-app.js"></script>-->
    <!--<script type="module" src="https://www.gstatic.com/firebasejs/10.5.2/firebase-messaging.js"></script>-->
    <!--<script type="module" src="{{ url_for('static', filename='settings/scripts.js') }}"></script>-->
    <!--<script type="module" src="{{ url_for('static', filename='settings/init-firebase.js') }}"></script>-->
{% endblock %}
{% block heading %}
⚙ Inställningar
{% endblock %}
{% block content %}
    <div class="mid">
        <div class="sub-setting">
            <h2>🔔 Notiser</h2>
            <form id="notification-form">
                <label for="notifications-on">På</label>
                <input type="radio" name="notification-status" id="notifications-on" value="on">
                <label for="notifications-off">Av</label>

                <input type="radio" name="notification-status" id="notifications-off" value="off">

                <br>

                <label for="person">Person</label>
                <select name="person" id="person">
                    <option value="" selected disabled>Välj person</option>
                    {% for person in persons %}
                        <option value="{{ person.person_id }}">{{ person.name }}</option>
                    {% endfor %}
                </select>

                <br>

                <button type="submit">Spara</button>
            </form>

        </div>
    </div>
{% endblock %}
{% block endOfBody %}
<script type="module">
    import { subscribeToNotifications, unSubscribeToNotifications, detectNewToken } from "{{ url_for('static', filename='settings/init-fcm.js') }}"
    import { queueModal } from "{{ url_for('static', filename='global/modal.js') }}"

    //Check notification status from local storage update it so if
    function checkNotificationStatus() {
        const notificationStatus = localStorage.getItem('notificationStatus');
        if (notificationStatus === 'true') {
            document.getElementById('notifications-on').checked = true;
        } else {
            document.getElementById('notifications-off').checked = true;
            localStorage.setItem('notificationStatus', 'false');
        }
    }

    checkNotificationStatus();

    //Using the form subscribe to notifications if notifications-on is true and unsubscribe if notifications-off is true using requestPermission and deleteToken if and sending the person id to the backend
    const form = document.getElementById('notification-form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const notificationStatus = formData.get('notification-status');
        const person = formData.get('person');
        if (notificationStatus === 'on' && person !== null && localStorage.getItem('notificationStatus') === 'false') {
            subscribeToNotifications(person);
        } else if (notificationStatus === 'off' && localStorage.getItem('notificationStatus') === 'true') {
            unSubscribeToNotifications();
        } else if (notificationStatus === 'on' && person !== null && localStorage.getItem('notificationStatus') === 'true') {
            queueModal('ℹ Du är redan prenumererad på notiser', "info");
        } else if (notificationStatus === 'off' && localStorage.getItem('notificationStatus') === 'false') {
            queueModal('ℹ Du är redan avprenumererad på notiser', "info");
        } else if (notificationStatus === 'on' && person === null) {
            queueModal('Du måste välja en person', "error");
        } 
    });

    if (localStorage.getItem('person_id')) {
        document.getElementById('person').value = localStorage.getItem('person_id');
    }


    detectNewToken();

</script>
{% endblock %}


<!--

<!DOCTYPE html>
<html>
<head>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='settings/stylesheet.css') }}">
    <script>
        const VAPID_PUBLIC_KEY = "{{config['VAPID_PUBLIC_KEY']}}"
    </script>
    <script src="{{ url_for('static', filename='worker.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='settings/scripts.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='settings/init-firebase.js') }}"></script>
    <title>Bokningar</title>
</head>
<body>
    <div class="top">
        <h1>⚙ Inställningar</h1>
    </div>
    <div class="mid">
        <div class="sub-setting">
            <h2>🔔 Notiser</h2>
            <form id="notification-form">
                <label for="notifications-on">På</label>
                <input type="radio" name="notification-status" id="notifications-on" value="on">
                <label for="notifications-off">Av</label>
                <input type="radio" name="notification-status" id="notifications-off" value="off">

                <br>

                <label for="person">Person</label>
                <select name="person" id="person">
                    <option value="1">Test</option>
                    <option value="1">Te</option>
                    <option value="1">Tst</option>
                    <option value="1">Tet</option>
                </select>

                <br>

                <button type="submit">Spara</button>
            </form>
        </div>
    </div>

    <div id="t">f</div>

    <button id="sub">Subscribe</button>


    <script type="module">
        import { requestPermission, messaging } from "{{ url_for('static', filename='settings/scripts.js') }}"
        import { onMessage } from "https://www.gstatic.com/firebasejs/10.5.2/firebase-messaging.js"


        const button = document.getElementById('sub');
        button.addEventListener('click', () => {
          requestPermission(); // Call the imported function
        });

        onMessage(messaging, (payload) => {
        console.log('Message received. ', payload);
        // ...
        });

    </script>
</body>
</html>
-->