{% extends "components/base.html" %}
{% block page_title %}Admin{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block heading %}
🔒 Admin
{% endblock %}
{% block content %}
    <div class="sub-setting">
        <h2>📁 Kategorier</h2>
            <a href="{{url_persons}}"><h3>👥 Hantera personer</h3></a>
            <a href="{{url_bookings}}"><h3>📅 Hantera bokningar</h3></a>
            <a href="{{url_startpage}}"><h3>🏠 Hantera startsida</h3></a>
        </form>
    </div>
{% endblock %}