<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <script type="module" src="{{ url_for('static', filename='global/modal.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='global/globalstyles.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📕</text></svg>">
    <link rel="manifest" href="{{ url_for('static', filename='tentap.webmanifest') }}" />
    <title>{% block page_title %}{% endblock %} - TentaP</title>
    {% endblock %}
</head>

<body>
    <div class="modal-outer" id="modal">
        <div class="modal-inner" id="modalInner">
            <div class="modal-content" id="modalContent">
                😚😚😚😚😚
            </div>
        </div>
    </div>
    <div class="page_wrapper">
        <div class="content_wrapper">
            <div class="header">
                <h1>{% block heading %}{% endblock %}</h1>
            </div>
            {% if subHeading %}
            <h2>
                {{ subHeading }}
            </h2>
            {% endif %}
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'components/navbar.html' %}
    {% block endOfBody %}
    {% endblock %}
    <script type="module">
        import showAlertForIosSafari from "{{ url_for('static', filename='global/global-modules.js') }}"

        showAlertForIosSafari();
    </script>
</body>

</html>
